
.cadastro{
  margin-bottom: 5%;
}
.example-card {
  max-width: 400px;
}
.number{
  text-align: right !important;
}
.buttons{
  padding: 1% 0;
}

td.actions {
    button {
      margin: 0 2%;
    }
}
